*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: Hunter;
    src: url(assets/home_and_work/Home\ And\ Work.otf) format('opentype');
}

:root{
    /* #7F1F8C */
    /* A64B97 */
    /* 681A73 */
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-escuro:black;
    --cor-de-fundo-escuro-claro: rgba(0, 0, 0, 0.9);
    --cor-tema2: #7F1F8C;
 }

body {
    background-color: aliceblue;
    background-color: var(--cor-de-fundo-escuro);
    overflow-x: hidden;
}

li {
    list-style: none;
}

.sobreMim,.skills,.hobbies,.formacao,.projetos{
    visibility: hidden;
}
nav {
    display: flex;
    margin-top: 25px;
    margin-left: 1%;
}

h1 {
    font-size: 2em;
}

.menu__link {
    text-decoration: none;
}

.menu__item:hover {
    border: 1px solid white;
    background: #8a2be2;
    box-shadow: 0 0 10px #8a2be2, 0 0 15px #5b2be2, 0 0 30px #730bec;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

 .menu_list {
    width: 70px;
    height: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
 }

 .menu__item {
    margin-left: 1%;
    border-radius: 5px;
    border: 1px solid black; 
    padding: 5px;
}

/* ---------------------------------------------------------------------- */
.title {
    margin-top: 50px;
}

.container_title_texto{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-right: 1%;
    text-align: center;
}

.title_texto{
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%)
}

.title_texto_destaque {
    font-size: 2em;
}

.title_texto_nome {
    margin-top:5%;
    font-size: 3em;
}

.title_texto_descricao {
    margin-top: 10%;
    font-size: 2em;
}

.title_texto_nome::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
/* ------------------------------------------------------------------------------------------- */
.sobreMim {
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
    
}
.sobreMim  > h2{
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
}

.sobreMim_texto {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 20px;
    width: 50%;
}

.imagem-perfil {
    text-align: center;
    margin-top: 20px;
}

.sobreMim_texto_botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.sobreMim_botao {
    border: 1px solid white;
    padding: 1px;
    padding-top: 5px;
    width: 150px;
    height: 40px;
    text-decoration: none;
    transition: .3;
}
.sobreMim_botao:hover{
    background: #8a2be2;
    box-shadow: 0 0 10px #8a2be2, 0 0 15px #5b2be2, 0 0 30px #730bec;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

/*--------------------------------------------------------------------------------------------------------------------------------------  */

.hobbies {
    margin-top: 50px;
    background-color: #8a2be2;
    min-height: 100vh;
}

.img__hobbies {
    max-width: 128px;
    max-height: 128px;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
}

.hobbies__box {
    width: 33%;
    margin-top: 25%;
}
/* #2800F5 #0B21DE #0415D1 */

.hobbies__box:hover {
    background-color: #2800F5;
    box-shadow: 0 0 10px #2800F5, 0 0 15px  #0B21DE, 0 0 30px #0415D1;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.hobbies__title {
    font-size: 2em;
    text-align: center;
    padding: 5px;
}

/* ---------------------------------------------------------------------------------------------------------- */

.skills {
    margin-top: 50px;
    min-height: 100vh;
}
.skills__title {
    font-size: 2em;
    text-align: center;
    padding: 5px;
}
.skills__line {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
}
.skills__box {
    width: 33%;
    margin-top: 25%;
}

.img__skills {
    max-width: 128px;
    max-height: 128px;
}
.skills__name {
    margin: 1em 0;
}
.skills__box p {
    color:black;
    margin-top: 1em;
}

.skills__box:hover {
    background: #8a2be2;
    box-shadow: 0 0 10px #8a2be2, 0 0 15px #5b2be2, 0 0 30px #730bec;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.skills__box:hover p {
    color: white;
    transition-duration: 1s;
    transition-delay: 0.1s;
}

/* ---------------------------------------------------------------------------------------------------------- */
.formacao {
    margin-top: 50px;
    min-height: 100vh;
    background-color: #8a2be2 ;
}

.formacao__title {
    margin-top: 2em;
    font-size: 2em;
    text-align: center;
    padding: 5px;
}

.formacao__cursos,.formacao__cursos__complementares {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
}

.formacao__cursos__box, .formacao__cursos__complementares__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 33%;
    margin-top: 2em;
    margin-bottom: 1em;
}

.formacao__cursos__item__img {
    max-width: 250px;
    max-height: 100px;
    min-width: 150px;
}

.formacao__cursos__img__complementar {
    width: 250px;
    height: 150px;
}


/* ----------------------------------------------------------------------------------------------------------- */

.projetos {
    margin-top: 50px;
    min-height: 100vh;
}

.projetos__titulo {
    font-size: 2em;
    text-align: center;
    padding: 5px;   
}

.projetos__box__line {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
}

.projetos__box {
    flex-wrap: wrap;
    width: 45%;
    height: 500px;
    margin-top: 5%;
}

.projetos__box:hover {
    background: #8a2be2;
    box-shadow: 0 0 10px #8a2be2, 0 0 15px #5b2be2, 0 0 30px #730bec;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.projeto_img {
    width: 100%;
    height: 300px;
}

.container__botoes {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.projeto__link__repo, .projeto__link__demo {
    font-size: 22px;
    text-decoration: none;
    border: 1px solid white;
    margin-left: 25px;
    padding: 5px;
    border-radius: 5px;
}

.projeto__descricao {
    margin-top: 5px;
    font-size: 22px;
}

#projeto_img_conversor {
    width: 100%;
    height: 300px;
}

.projeto__link__repo:hover,.projeto__link__demo:hover {
    background-color: #7F1F8C;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

/* ----------------------------------------------------------------------------------------------------------- */

.footer {
    margin-top: 40px;
    background-color: #8a2be2;
    text-align: center;
    padding: 50px;
}

@media screen and (max-width:850px) {
    
    .sobreMim_texto_botoes {
        flex-direction: column;
        height: 200px;        
    }

    .sobreMim_botao {
        margin: 0 auto;
    }

    .hobbies__line {
        flex-direction: column;
    }

    .skills__line {
        flex-direction: column;
    }
    .projetos__box__line {
        flex-direction: column;
    }

    .hobbies__box,.skills__box,.projetos__box {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    } 

    .hobbies__box {
        margin-bottom: 10%;
    }
    .formacao__cursos__box, .formacao__cursos__complementares__box {
        width: 100%;
    }

    .projetos__box{
        margin-top: 150px;
    }
}
@media screen and (max-width:600px) {
   
    nav {
        height: 150px;
    }
    .sobreMim_texto {
        font-size: 1em;
        width: 100%;
    }
    .menu_list {
    justify-content: right;
   }
    .menu__item {
        text-align: center;
        width: 75%;
    }
    .skills__box,.hobbies__box,.projetos__box {
        width: auto;
        height: auto;
    }
  
    .imagem-perfil {
        margin-left: -50px;
    }
}